.updateImg{
  max-width:100%;
  height:auto;
}
.type-row{
  height:15rem;
}
.card-img-top{
  width:auto !important;
}
.type-card-img{
  width:100% !important;
  height:100%;
}
.type-title{
  color:#67c2ff;
}
hr{
  border:2px solid #67c2ff;
}
