.thumbnail{
  position:relative;
}
.thumbnail > button{
  z-index: 1;
  position:relative;
}
.thumbnailContent{
  position:absolute;
  opacity: 0;
  z-index: 0;
  width: 50vw;
}
.thumbnailContent > img{
  max-width: 100%;
  height:auto;
}

button:hover + .thumbnailContent{
  animation: 1s showThumbnail forwards;
}
@keyframes showThumbnail{
  0%{opacity: 0;z-index: 0;}
  100%{opacity: 0.9;z-index: 3;}
}
