.cardInside{
  position: relative;
  .card-title{
    position:absolute;
    bottom:1.25rem;
    height:auto !important;
    .card-title-text{
      color:white;
      letter-spacing: 0.25rem;
    }
  }
}
.card{
  border:none !important;
  width: 100%;
  height:100%;
  div,.card-title{
    height:100%;
  }
}
.card-text{
  word-wrap: break-word;
}
pre{
  white-space: pre-line;
}
.card-row{
  max-width: 100%;
  // fix bootstrap bug
  --bs-gutter-x:0;
}
.card-href{
  display: block;
  height:100%;
}
