.cardInside{
  position: relative;
  .card-title{
    position:absolute;
    bottom:1.25rem;
  }
}
.card{
  border:none !important;
}
.card-text{
  word-wrap: break-word;
}
pre{
  white-space: pre-line;
}
