.Carousel-img{
  height:auto;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}
@media (max-width:960px) {
  .Carousel-img
  {
    height:auto;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
  }
}
.carousel,.carousel-inner,.carousel-item{
  height:100%;
}
