.class-totur{
  height:20rem;
  max-height:20rem;
}
.class-link{
  color:white;
  text-decoration: none;
}
.detail-bg{
  background-color:transparent;
}
.card-text{
  pre{
    font-size: 1.4rem;
  }
}
.wmde-markdown{
  p{
    font-size:1.2rem;
  }
}

